ul#menu {
	grid-column-start:1; 
	grid-column-end:4; 
	grid-row-start:1; 
	grid-row-end:2; 
    list-style-type: none;
	background-color: #777777;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	color: #FF9F00;
}

li#menu {
	float: left;
	padding: 20px;
}

li a#menu, .dropbtn {
}

li a#menu:hover, .dropdown:hover .dropbtn {
}

li#menu.dropdown {
}

.dropdown-content {
}

.dropdown-content a {
}

.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {
}
